<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="resources/resume.css" media="jlind/null" onload="this.media='all'">
<title>James Lind - Software Developer</title>
</head>
<body>
<div class=markdown-body>
{{.}}
<h6>About this page</h6>
<p class=application-about>
This page is generated on each load from a markdown version of my resume by a custom microservice written by myself in Go.  You can view the source for this web page on <a href=https://github.com/byteporter/jameslind_info>github</a>.
</p>
</div>
</body>
</html>