[submodule "packages/blackfriday"]
	path = packages/blackfriday
	url = git@github.com:byteporter/blackfriday.git
[submodule "deployment"]
	path = deployment
	url = git@github.com:byteporter/deployment.git
	branch = development
[submodule "resume"]
	path = resume
	url = git@github.com:byteporter/resume.git
	branch = development
