version: '3.4'

# Variables used by letsencrypt proxy helper to request SSL certificates. You don't need this for development.

services:
  resume:
    environment: 
      - LETSENCRYPT_HOST=$DOMAIN,$RESUME_VHOST.$DOMAIN
      - LETSENCRYPT_EMAIL=$WEBMASTER_EMAIL
