<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>James Lind - Software Developer</title>
<link rel="stylesheet" href="resources/markdown-github.css">
</head>
<body>
<div class=markdown-body>
{{.}}
</div>
</body>
</html>