<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>James Lind - Software Developer</title>
<link rel="stylesheet" href="resources/modest.css">
</head>
<body>
<div class=markdown-body>
{{.}}
<p>
<h1>About this page</h1>
This page is generated on each load from a markdown version of my resume by a custom microservice written by myself in Go.  You can view the source for this web page on <a href=https://github.com/byteporter/jameslind_info>github</a>.
</p>
</div>
</body>
</html>